default:
    clients:
        amqp:
            host: 'rabbitmq-first'
            vhost: '/'
            port: 5672
            login: 'guest'
            password: 'guest'
            tls: false
            tls_verify: false
        manager:
            host: 'rabbitmq-first'
            vhost: '/'
            port: 15672
            login: 'guest'
            password: 'guest'
            tls: false
            tls_verify: false
source:
    clients:
        amqp:
            host: 'rabbitmq-first'
            vhost: '/'
            port: 5672
            login: 'guest'
            password: 'guest'
            tls: false
            tls_verify: false
        manager:
            host: 'localhost'
            vhost: '/'
            port: 15672
            login: 'guest'
            password: 'guest'
            tls: false
            tls_verify: false
destination:
    clients:
        amqp:
            host: 'rabbitmq-second'
            vhost: '/'
            port: 5672
            login: 'guest'
            password: 'guest'
            tls: false
            tls_verify: false
        manager:
            host: 'localhost'
            vhost: '/'
            port: 15672
            login: 'guest'
            password: 'guest'
            tls: false
            tls_verify: false
